body {
  background-color: lightblue;
  margin: 0%;
  padding: 20px;
  width: 100%
}

.App {
  text-align: center;
  flex-direction: flex;
  width: 1000px;
  margin: 0 auto;
}

.header {
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  color: maroon;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  width: 30%;
  border-radius: 10px 100px / 120px;
  margin: 0 auto;
}

.inbox {
  margin: 0 auto;
  background-color: white;
  width: 80%;
  color: maroon;
  border-radius: 10px 100px / 120px;
}